.clearfix
.well
  .container-fluid
    - @sources.each do |source|
      .col-md-4
        .videocontent
          %video.video-js.vjs-default-skin.vjs-16-9{:id => "video#{source}", :controls => "", "data-setup" => '{"autoplay": true}', :height => "240", :preload => "auto", :width => "427"}
            %source{:src => "#{ENV["CCTV_SERVER"]}/flvstream#{source}.flv", :type => "video/x-flv"}
