%h1 Rails FFServer
%p
  Rails FFServer is a cctv web application that interfaces with an
  <code>ffserver</code> (see <a href="https://ffmpeg.org" target="blank">ffmpeg</a>) for on-demand viewing of
  cctv streams.

